
* {
  font-family: CommitMono Nerd Font Propo;
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
  color: #d8dee9;
}
/*
window#waybar > box {
    margin: 0px 0px 4px 0px;
    background-color: rgba(216,222,233,0.1);
    box-shadow: 1 1 3 1px #2E3440;
}
*/
#workspaces button {
  padding: 0 0.6em;
  color: #d8dee9;
  border-radius: 2px;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#workspaces button.active {
  color: #d8dee9;
  background: #434c5e;
}

#workspaces button.focused {
  color: #d8dee9;
  background: #434c5e;
}

#workspaces button.urgent {
  color: #d8dee9;
  background: #4c566a;
}

#workspaces button:hover {
  background: #2e3440;
  color: #d8dee9;
}

#date,
#battery,
#clock,
#pulseaudio,
#pulseaudio-slider,
#workspaces,
#window,
#language,
#temperature,
#bluetooth,
#network,
#text,

#tray {
  background: rgba(46,52,64,0.9);
  padding: 0 0.6em;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 2px;
}

#tray {
  margin-right: 6px;
}

#pulseaudio {
  margin-right: 6px;
  color: #d8dee9;
}

#bluetooth {
  margin-right: 6px;
  color: #d8dee9;
}

#network {
  margin-right: 6px; 
  color: #d8dee9;
}

#clock {
  color: #d8dee9;
  margin-right: 6px;
}

#battery {
  color: #d8dee9;
  margin-right: 4px;
}

#window {
  color: #d8dee9;
  background: #3b4252;
  padding: 0 0.6em;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 6px;
  background: radial-gradient(circle, #5e81ac, #3b4252)
}

#language {
  color: #d8dee9;
  background: #3b4252;
  padding: 0 0.6em;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 6px;
}

#temperature {
  color: #d8dee9;
  margin-right: 6px;
}

#custom-launcher {
  color: #d8dee9;
  background: #3b4252;
  padding: 0 0.6em;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 6px;
}

#pulseaudio-slider {
}
#pulseaudio-slider slider {
    opacity: 0;
    background-image: none;
    border-radius: 0.1px;
    background: transparent;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 1px;
    min-width: 50px;
    border-radius: 0px;
    background: #3b4252;
}
#pulseaudio-slider highlight {
    min-width: 1px;
    border-radius: 1px;
    background: #d8dee9;
}

#custom-cpuhistory {
    color: rgba(46,52,64,0.9);
    background : transparent;
}
